<h1>Creating New Article</h1>
<%= form_with scope: :article, url: articles_path, data: { turbo: false }, local: true do |form| %>

    <% if @article.errors.any? %>
        <h2>The following errors are prevnted form articles saved</h2>
        <% @article.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
        <% end %>
    <% end %>

   


    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <%= form.submit "Create" %>
<% end %>